* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #6943ff;
    color: #f4f4f4;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin-bottom: 24px;
    font-size: 36px;
}

header input {
    width: 117px;
    height: 83px;
    color: white;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    border: 2px solid #b295ff;
    border-radius: 5px;
    margin-bottom: 12px;
}

header button {
    width: 117px;
    height: 40px;
    background-color: #ffffff;
    color: #3d3d3d;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-section {
    min-width: 500px;
    height: 108px;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-section h2 {
    font-size: 20px;
    color: #5a537b;
    margin-bottom: 12px;
}

.result-section p {
    font-size: 14px;
    color: #353535;
}
